<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Concurrent Simulation Dashboard</title>
  <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
  <h1>Concurrent Simulation Dashboard</h1>
  <div id="controls">
    <button id="toggle">⏸️ Pause</button>
    <span id="tick">Tick: 0</span>
  </div>
  <canvas id="world" width="500" height="500"></canvas>

  <script>
    const ws = new WebSocket("ws://" + location.host + "/ws");
    const canvas =document.getElementById("world");
    const ctx = canvas.getContext("2d");
    const tickEl = document.getElementById("tick");
    const toggleBtn = document.getElementById("toggle");
    let paused = false;
    let zones = [];

    toggleBtn.onclick = () => {
      paused = !paused;
      toggleBtn.innerText = paused ? "▶️ Start" : "⏸️ Pause";
    };

    ws.onmessage = (event) => {
      if (paused) return;

      const raw = event.data.toString().trim();
      raw.split('\n').forEach(chunck => {
        if (!chunck) return;
        try {
          const payload = JSON.parse(chunck);
          if (payload.type === "snapshot") {
            zones = payload.data.zones;
            renderAgents(payload.data.agents);
            tickEl.innerText = "Tick: " + payload.data.tick;
          }
        } catch (err) {
          console.error("Invalid JSON from ws:", err, chunck);
        }
      });
    };

    function renderZones() {
      zones.forEach(z => {
        let color;
        switch (z.type) {
          case "meet": color = "blue"; break;
          case "collect": color = "purple"; break;
          case "rest": color = "green"; break;
        }
        ctx.beginPath();
        ctx.arc((z.x / 100) * canvas.width, (z.y / 100) * canvas.height, z.radius * 2, 0, Math.PI * 2);
        ctx.strokeStyle = color;
        ctx.lineWidth = 2;
        ctx.stroke();
      });
    }

    function renderAgents(agents) {
      ctx.clearRect(0, 0, canvas.width, canvas.height);
      renderZones();

      agents.forEach(a => {
        const x = (a.x / 100) * canvas.width;
        const y = (a.y / 100) * canvas.height;
        let color;
        switch (a.goal) {
          case "explore": color = "gray"; break;
          case "meet": color = "blue"; break;
          case "collect": color = "purple"; break;
          case "rest": color = "green"; break;
        }
        ctx.fillStyle = color;
        ctx.beginPath();
        ctx.arc(x, y, 4, 0, Math.PI * 2);
        ctx.fill();
      });
    }
  </script>
</body>
</html>
